* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffe9c1;
  font-family: "Playfair Display", serif;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  
}

.bg-low-opacity {
  background-color: rgba(0,0,0,0.8);
}

.hero-image {
  filter: brightness(85%);
  object-fit: cover;
  z-index: -1;
  margin-bottom: 5rem;
  width: 100%;
}

.navbar {
  padding-bottom: 2px;
  background-color: #620808;
  filter: brightness(150%);
}

.navbar nav {
justify-content: center;
  width: 100%;
}

.History {
  font-size: 1.5rem;
  display: flex;
  margin-bottom: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.header-text {
  color: white;
  z-index: 10;
  font-size: 5rem;
  position: relative;
  bottom: 12rem;
  font-family: "Italianno", cursive;
  font-weight: 600;
  font-style: normal;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  transform: translate(-50%,-50%);
  left: 50%;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  border-radius: 12px;
}

h2, h3, h3, h4 {
  font-weight: 600;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.food-item {
  width: 100%;
  max-width: 600px;
  margin-bottom: 60px;
  text-align: center;
}

.food-item li {
  list-style:none;
  padding: 5px 0;
  
}

.Most-Popular {
color: black;
font-size: 2.5rem;
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: italic;
}

.footer-content {
  background-color: #620808;
  filter: brightness(150%);
  padding: 20px 100px;
  width: 300vh;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width:768px) {
  .header-text { 
    position: absolute;
    font-size: 3rem;
  }

  header {
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  left: 0;
  width: 100%;
  background-color: white;
  top: 0;
  height: 80px;
}


main {
  justify-content: center;
align-items:center;
}

}