* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #ffe9c1;
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
  align-items: center;
  padding-top: 600px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  left: 0;
  width: 100%;
  background-color: white;
  top: 0;
  height: 80px;
}


main {
  flex: 1;
  justify-content: center;
align-items:center;
}

.bg-low-opacity {
  background-color: rgba(0,0,0,0.8);
}

.hero-image {
  filter: brightness(60%);
  margin-bottom: 100px;
  width: 100%;
  object-fit: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

.navbar {
  padding-bottom: 2px;
  background-color: #620808;
  filter: brightness(150%);
}

.navbar-nav {
width: 100%;
text-align: center;
}

.bg-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 80px;
  clear: both;
}

.header-text {
  color: white;
  z-index: 10;
  font-size: clamp(3rem, 10vw, 7rem);
  font-family: "Italianno", cursive;
  font-weight: 600;
  font-style: normal;
  overflow: hidden;
  white-space: nowrap;
  justify-content: center;
  transform: translate(-50%,-50%);
  bottom: 60%;
  left: 50%;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  border-radius: 12px;
}

p {
  font-size: 5rem;
  z-index: 10;
  position: absolute;
  bottom: 47%;
  left: 44%;
}

.sub-heading {
  position: absolute;
  color: white;
  font-size: clamp(1.2rem, 4vw, 1.7rem);
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  left: 38%;
  z-index: 10;
  text-shadow: 2px 2px 4px rgba(0,0,0,30);
}

#Call-To-Action button {
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(146, 9, 9);
  color: white;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 100%;
  display: flex;
  justify-content: center;
}

#Call-To-Action button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 9, 9),
    transparent);
  transition: all 0.6s;
}

#Call-To-Action button:hover {
  background-color: rgba(146, 9, 9);
  transform: scale(1.1);
}

#Call-To-Action button:hover::before {
  left: 100%;
  content: "";
}

.Most-Popular {
  display: block;
position: absolute;
color: black;
font-size: 2.5rem;
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: italic;
white-space: nowrap;
overflow: hidden;
top: 15%;
left: 5%;
margin: 50px, auto, 25px;
transform: none;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.food-item {
  display: flex;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
  margin-top: 170px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(146, 9, 9);
  border-radius: 25px;
}


.img-wrapper {
  position: relative;
  border-radius: 8px;
  line-height: 0;
  overflow: hidden;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.img-wrapper::after {
  content:"";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.3) 50%,
    rgba(255,255,255,0) 100%
    );
  transform: skewX(-25deg);
  transition: none;
}

.food-item:hover .img-wrapper::after {
  left: 150%;
  transition: left 0.7s ease-in-out;
}

.food-item:hover img {
  transform: scale(1.1);
}

.food-item img {
  display: block;
  height: auto;
  max-width: 400px;
  width: 100%;
  transition: transform 0.5s ease;
}

.food-title {
  display: flex;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
  margin-left: 50%;
  margin-right: 50%;
  font-size: 1.5rem;
}

.map-container {
  display: flex;
  background-color: rgba(146, 9, 9);
  padding: 15px;
  width: 100%;
  position: relative;
  height: 400px;
  border: 0;
  left: 0px;
  top: 0px;
  align-items: center;
  border: 0;
  margin: 50px 0 auto;
  margin-bottom: 400px;
}

.footer-content {
  background-color: #620808;
  filter: brightness(150%);
  padding: 20px 100px;
  width: 300vh;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

iframe {
  width: 600px;
  height: 360px;
  justify-content: center;
  left: 25px;
  border: none;
}

h6 {
  display: flex;
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
  margin-left: 50%;
  margin-right: 50%;
  font-size: 2rem;
  color: white;
}

.Days {
  list-style-type: none;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  gap: 10px;
  margin-left: 60px;
}

.Times {
  list-style-type: none;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  gap: 10px;
  margin-left: 60px;
  top: 60px;
  
}


@media screen and (max-width:768px) {

body {
justify-content: center;
align-items: center;
margin: auto;
background: #ffe9c1;
font-family: "Playfair Display", serif;
}

  .header-text { 
    font-size: 1.2rem;
    white-space: normal;
    padding: 0 20px;
  }
  .sub-heading {
    top: 45%
    white-space: normal;
    font-size: 1.5rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

header {
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  left: 0;
  width: 100%;
  background-color: white;
  top: 0;
  height: 80px;
}


main {
  justify-content: center;
align-items:center;
}

  .Most-Popular {
    position: static;
    text-align: center;
    margin: 40px, 0;
    font-size: 2rem;
  }

  .map-container {
    flex-direction: column;
    height: auto;
    top: 0;
    margin: 50px 0;
  }

  .food-item {
    margin-top: 20px;
  }
iframe {
  width:100%;
  max-width: 100%;
}

}

  